body {
	line-height: 2.0;
	font-family: 'Noto Serif JP', serif;
	font-family: 'Ibarra Real Nova', serif;

}
.fullScreen {
	height: 100vh;
	width: 100vw;
}
.wrp {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 80%;
	height: 3.2rem;
}

.form-wrp {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.form-wrp::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: red;
}

.overlay-box::before{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	z-index: 79;
}
.overlay-child {
	z-index: 80;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.cancelBtn {
	background-color: #ffffff;
	padding: 10px 40px;
	border-radius: 50px;
}